
services: 
  whisper_app_test:
    image: dso-nexus.vietinbank.vn/ai_docker/python311_openai_serve:v5.06
    container_name: whisper_app_test
    # restart: always
    # command: 'sleep infinity'
    command: "uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload"
    ports: 
      - "8088:8000"
    volumes:
      - ./app:/app
      - shared_audio_chunks:/app/audio_chunks

    environment:
      - PYTHONPATH=/
    env_file: 
      - .env
    restart: unless-stopped

volumes:
  shared_audio_chunks:
    driver: local

      # - MODULE_NAME=app
      # - VARIABLE_NAME=app
      # - AZURE_OPENAI_API_KEY=${AZURE_OPENAI_API_KEY}
      # - AZURE_OPENAI_ENDPOINT=${AZURE_OPENAI_ENDPOINT}
      # - AZURE_OPENAI_API_VERSION=${AZURE_OPENAI_API_VERSION}
      # - POSTGRES_USER=${POSTGRES_USER}
      # - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      # - POSTGRES_DB=${POSTGRES_DB}
      # - POSTGRES_HOST=${POSTGRES_HOST}
      # - POSTGRES_PORT=${POSTGRES_PORT}
      # - DIARIZATION_SERVICE_URL=${DIARIZATION_SERVICE_URL}
